.app-container{
    border:1px solid #000;
    height: 300px;
    width: 300px;
    border-radius: 3px;
    background-color: #ccc;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #000;
    }
    &__output{
        font-size: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__increment, &__decrement {
        display: flex;
        flex-direction: column;
    }
    
}